<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey" />
  <package id="filezilla" />
  <package id="git" />
  <package id="nodejs" version="8.11.1"/>
  <package id="SublimeText3" />
  <package id="SourceTree" />
  <package id="slack" />
  <package id="teraterm" />
  <package id="virtualbox" />
  <package id="VirtualBox.ExtensionPack" />
  <package id="vagrant" />
  <package id="visualstudiocode" />
  <package id="winmerge" />
</packages>
